<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Usuario</h3>
    <input type="text" placeholder="[[mensajeInfo]]" name="usuario" value="{{usuario::input}}"/>
    <h3>Password</h3>
    <input type="password" name="password" value="{{password::input}}"/>
    <button on-click="login" type="button" name="button" class="btn btn-info">Login</button>
    <h3>Resultado</h3>
    <!-- <input type="mensaje" name="" value="[[mensaje]]"/> -->
    <span>{{mensaje::input}}</span>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            //value: 'Indique su login'
          },
          mensajeInfo: {
            type: String,
            value: 'Indique su login'
          },
          password: {
            type: String,
            //value: 'login-app'
          },
          mensaje: {
            type: String,
            //value: 'login-app'
          }
        };
      }
      login()
      {
        if (this.usuario == "pepe" && this.password == "perez"){
          this.mensaje = "Autenticacion OK";
        }
        else{
          this.mensaje = "Autenticacion KO";
        }
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
